body {
    font-family: 'Poppins';
    font-style: normal;
    background-color: #14043f;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

/* ---------------------------------navbar-section------------------------------------------------------ */

header {
    width: 100%;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(50px);
}

#navbar {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#hamburger {
    display: none;
}

.nav-2-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
}

.section-div {
    width: 90%;
    margin: auto;
}

#side-modal {
    display: none;
    background-color:rgba(255, 255, 255, 0.02);
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
}

#nav-modal{
    background-color:rgba(255, 255, 255, 0.02);
    width:350px;
    height:100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
}

#nav-modal>div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/*---------------------------------------------------------table-section-------------------------------- */

.para-1 {
    margin-top: 80px;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #ffffff
}

.para-2 {
    margin-top: -15px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.span3 {
    color: #858585;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

}

.image {
    width: 40px;
    height: 40px;
}

.td1 {
    display: flex;
    gap: 20px;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

td {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

table,
td,
th {
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
}

th,
td {
    padding: 15px;
}

th {
    width: 200px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

#name {
    width: 300px;
}

#view-btn {
    background: linear-gradient(90deg, #3DD8EE 0%, #0997E8 100%);
    border-radius: 8px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
    width: 200px;
    height: 60px;
    margin-left: 40%;
    margin-top: 20px;
    cursor: pointer;
    border: none;
}

/* ---------------------------------map--section-------------------------------------------------- */

#map-section {
    background: #00092A;
    margin-top: 50px;
}

#div-map-inside {
    padding-top: 30px;
}

#padded-section {
    padding: 20px 20px 40px 40px;
    display: flex;
    /* justify-content: space-between; */
    gap: 30px;
    align-items: center;
}

#map {
    width: 50%;
    height: 440px;
    background: url('images/map.png');
    object-fit: cover;
    background-repeat: no-repeat;
}

.map-same {
    width: 160px;
    height: 68px;
    padding: 5px 0px 5px 10px;
    background: #0A1B2B;
    border-radius: 2px;
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.countries {
    z-index: 100;
    margin-left: 30%;
}

.trades {
    z-index: 100;
    margin-left: 55%;
    margin-top: 20px;
}

.pairs {
    z-index: 100;
    margin-left: 10%;
    margin-top: 40px;
}

#map-images-div {
    width: 60%;
    margin-left: 20%;
    display: flex;
    gap: 230px;
    align-items: center;
    padding: 10px;
}

#side-content {
    width: 40%;
}

#header-div {
    width: 395px;
    margin: auto;
}

#header-para {
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    text-transform: capitalize;
}

.flex-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.icons-flex {
    background: #0F1535;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-fonts {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.para-fonts {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: -15px;
}

/*--------------------------------------------------invest-part-------------------------------------------------------------------------------------- */

#invest {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.left-div-invest {
    width: 45%;
    margin: auto;
    margin-top: -5%;
}

.right-div-invest {
    width: 45%;
    margin: auto;
}

#invest-para {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
}

.image-curve {
    width: 601px;
    height: 77.5px;
    opacity: 0.5;
}

.flex-invest {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.para-div {
    margin-top: -22px;
}

.para-div>p:nth-child(1) {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.para-div>p:nth-child(2) {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: -15px;
}

#upside-div {
    background: linear-gradient(180.04deg, rgba(4, 19, 52, 0.78) -3.16%, rgba(15, 37, 84, 0.62) 99.42%);
    border: 2px solid #142346;
    backdrop-filter: blur(1px);
    width: 330px;
    height: 500px;
    border-radius: 8%;
    z-index: 100;
    margin: auto;
    margin-top: -80%;
    padding: 15px 30px 0px 30px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.upside-div-inside {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -10px;
}

.invest-icon-flex {
    display: flex;
    gap: 10px;
    align-items: center;
}

#portfolio-para {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}

.icon-p {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.abbr-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: -15px;
}

.uparrow {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #00FF47;

}

.width-para-div {
    width: 450px;
}

/* -----------------------------------footer---------------------------------------- */

.footer {
    background-color: #00092A;
    padding: 50px;
    margin-top: 80px;
}

#footer-flex {
    display: flex;
    justify-content: space-between;
}

#footer-left {
    width: 40%;
    margin: auto;
}

#footer-right {
    width: 55%;
    margin: auto;
    display: flex;
    justify-content: space-around;

}

#footer-para {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.columns>p:nth-child(1) {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}

.ul-list {
    list-style: none;
    margin-left: -40px;
}

li {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

#last-line {
    display: flex;
    justify-content: center;
    margin: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}



/* -----------------------------------responsiveness---------------------------------------- */
@media all and (min-width:80px) and (max-width:640px) {
    #navbar {
        width: 190%;
        margin: auto;
    }

    .nav-2-div {
        display: none;
    }

    #hamburger {
        display: block;

    }

    #hamburger>div {
        border: 4px solid #ffffff;
        width: 50px;
        margin-top: 10px;
    }

    #search {
        display: none
    }

    .section-div {
        width: 200%;
        margin: auto;
        padding-left: 20px;
    }

    .para-1 {
        margin-top: 100px;
        font-weight: 500;
        font-size: 38px;
        line-height: 36px;
        color: #ffffff
    }

    .para-2 {
        margin-top: 0px;
        font-weight: 500;
        font-size: 35px;
        line-height: 50px;
    }

    #view-btn {
        margin-left: 75%;
        margin-top: 80px;
    }

    #padded-section {
        padding: 20px 20px 40px 40px;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        gap: 30px;
        align-items: center;
        background-color: #00092A;
        object-fit: cover;
        background-repeat: no-repeat;
        margin-top: 80px;
    }

    #map {
        width: 100%;
        height: 440px;
        background: url('images/map.png');
        object-fit: cover;
        background-repeat: no-repeat;
    }

    table,
    td,
    th {
        text-align: left;
    }

    table {
        width: 200%;
        border-collapse: collapse;
        margin-top: 80px;
        margin-left: 20px;
        display: block;
        overflow-x: auto;
        white-space: nowrap;

    }

    th {
        width: 200px;
        font-weight: 500;
        font-size: 35px;
        line-height: 30px;
    }


    #side-content {
        width: 80%;
        margin-bottom: 50px;
    }

    #header-div {
        width: 98%;
        margin: auto;
    }

    #header-para {
        font-weight: 500;
        font-size: 36px;
        line-height: 54px;
        text-transform: capitalize;
    }

    #invest {
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left-div-invest {
        width: 90%;
        margin: auto;
        margin-top: -5%;
    }

    .right-div-invest {
        width: 95%;
        margin: auto;
    }

    #upside-div {
        width: 390px;
        margin-top: -68%;
    }

    .image-curve {
        width: 98%;
        height: 77.5px;
        opacity: 0.5;
    }

    #invest-para {
        font-weight: 600;
        font-size: 36px;
        line-height: 54px;
        margin-left: 30px;
    }

    .flex-invest {
        display: flex;
        align-items: flex-start;
        gap: 15px;
        margin-left: 30px;
    }

    .para-div>p:nth-child(1) {
        font-weight: 500;
        font-size: 25px;
        line-height: 35px;
    }

    .para-div>p:nth-child(2) {
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        margin-top: -15px;
    }

    .width-para-div {
        width: 100%;
    }

    .footer {
        background-color: #00092A;
        padding-top: 50px;
        margin-top: 80px;
        padding-right: 20px;
    }

    #footer-flex {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #footer-left {
        width: 95%;
        margin: auto;
    }

    #footer-right {
        width: 95%;
        margin: auto;
        display: flex;
        justify-content: space-between;

    }

    #footer-para {
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;
    }

    .columns>p:nth-child(1) {
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
    }

    .ul-list {
        list-style: none;
        margin-left: -40px;
    }

    li {
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
    }

    #last-line {
        width: 200%;
        display: flex;
        justify-content: center;
        margin: 20px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 15px;
    }

    .small-section {
        width: 200%;
        margin: auto;
        padding-left: 20px;
        margin-top: 80px;
    }

}

@media all and (min-width:641px) and (max-width : 1150px) {
    header {
        width: 100%;
        color: #ffffff;
        background: rgba(255, 255, 255, 0.02);
        backdrop-filter: blur(50px);
    }

    #navbar {
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    #padded-section {
        padding: 20px 20px 40px 40px;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        gap: 30px;
        align-items: center;
        background-color: #00092A;
        object-fit: cover;
        background-repeat: no-repeat;
        margin-top: 80px;
    }


    .section-div {
        width: 100%;
        margin: auto;
        padding-left: 20px;
    }

    .para-1 {
        margin-top: 100px;
        font-weight: 500;
        font-size: 38px;
        line-height: 36px;
        color: #ffffff
    }

    .para-2 {
        margin-top: 0px;
        font-weight: 500;
        font-size: 35px;
        line-height: 50px;
    }

    #map {
        width: 100%;
        height: 440px;
        background: url('images/map.png');
        object-fit: cover;
        background-repeat: no-repeat;
    }

    #side-content {
        width: 80%;
    }

    #invest {
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left-div-invest {
        width: 90%;
        margin: auto;
        margin-top: -5%;
    }

    .right-div-invest {
        width: 95%;
        margin: auto;
    }

    #upside-div {
        width: 390px;
        margin-top: -60%;
    }

    .image-curve {
        width: 98%;
        height: 77.5px;
        opacity: 0.5;
    }

    #invest-para {
        font-weight: 600;
        font-size: 36px;
        line-height: 54px;
        margin-left: 30px;
    }

    #header-div {
        width: 90%;
        margin: auto;
    }

    #header-para {
        font-weight: 500;
        font-size: 36px;
        line-height: 54px;
        text-transform: capitalize;
    }

    .flex-div {
        display: flex;
        align-items: center;
    }


    .flex-invest {
        display: flex;
        align-items: flex-start;
        gap: 15px;
        margin-left: 30px;
    }

    .para-div>p:nth-child(1) {
        font-weight: 500;
        font-size: 25px;
        line-height: 35px;
    }

    .para-div>p:nth-child(2) {
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        margin-top: -15px;
    }

    .width-para-div {
        width: 100%;
    }

    .footer {
        background-color: #00092A;
        padding-top: 50px;
        margin-top: 80px;
        padding-right: 30px;
    }

    #footer-flex {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #footer-left {
        width: 95%;
        margin: auto;
    }

    #footer-right {
        width: 95%;
        margin: auto;
        display: flex;
        justify-content: space-between;

    }

    #footer-para {
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;
    }

    .columns>p:nth-child(1) {
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
    }

    .ul-list {
        list-style: none;
        margin-left: -40px;
    }

    li {
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
    }

    #last-line {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 20px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 15px;
    }

}